################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ejercicios Luis/.vs/WinFormsApp1/FileContentIndex
/Gestión de Stock
/Ejercicios Luis/WinFormsApp1/obj
/Ejercicios Luis/.vs/WinFormsApp1/v17
/Ejercicios Luis/WinFormsApp1/bin/Debug/net6.0-windows
/Ejercicios Luis/WinFormsApp1/FormPrincipal.Designer.cs
/Ejercicio Tiago/.vs
/Ejercicio Tiago/Vacaciones/bin/Debug/net6.0-windows/Vacaciones.deps
/Ejercicio Tiago/Vacaciones/bin/Debug/net6.0-windows/Vacaciones.dll
/Ejercicio Tiago/Vacaciones/bin/Debug/net6.0-windows/Vacaciones.pdb
/Ejercicio Tiago/Vacaciones/bin/Debug/net6.0-windows/Vacaciones.runtimeconfig
/Valorant/ValorantApp/.vs
/Valorant/ValorantApp/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
/Valorant/ValorantApp/bin/Debug/net6.0-windows/ValorantApp.deps
/Valorant/ValorantApp/bin/Debug/net6.0-windows/ValorantApp.dll
/Valorant/ValorantApp/bin/Debug/net6.0-windows/ValorantApp.pdb
/Valorant/ValorantApp/bin/Debug/net6.0-windows/ValorantApp.runtimeconfig
/Valorant/ValorantApp/obj